<div id="tele-price" class="block_scroll" style="text-align: center;">
    <div class="block_scroll_container" style="overflow: hidden;">
    <div class="title_main">Тарифы на услуги связи для абонентов ООО "Укрком"</div>
    <table>
        <tbody>
            <tr class="tele-header-dark">
                <td colspan="3">
                    <span class="manual-inverse">Цена одной секунды исходящих разговоров</span>
                </td>
            </tr>
            <tr class="tele-header-light">
                <td style="width: 50%;">
                    <span class="manual-inverse">Тарифная зона</span>
                </td>
                <td colspan="2">
                    <span class="manual-inverse">Расчетная ставка</span>
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Черкассы (более 36000 секунд)
                </td>
                <td colspan="2" class="tele-cost">
                0,00075 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Доступ к сети операторов мобильной связи через национальные коды (NDC)
                </td>
                <td colspan="2" class="tele-cost">
                0,0167 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Украина
                </td>
                <td colspan="2" class="tele-cost">
                0,0084 грн.
                </td>
            </tr>
            <tr class="tele-header-light">
                <td rowspan="2">
                <span class="manual-inverse">Тарифная зона</span>
                </td>
                <td colspan="2">
                <span class="manual-inverse">Расчетная ставка в долларах США</span>
                </td>
            </tr>
            <tr class="tele-header-light">
                <td class="center-td">
                <span class="manual-inverse">С 8:00 до 18:00 ежедневно</span> (кроме субботы, воскресенья и праздничных дней)
                </td>
                <td>
                <span class="manual-inverse">С 18:00 до 8:00 ежедневно, суббота, воскресенье и праздничные дни круглосуточно</span>
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Россия, Белорусь, Молдова
                </td>
                <td class="tele-cost">
                0,0047
                </td>
                <td class="tele-cost">
                0,0037
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Азейбарджан, Армения, Грузия
                </td>
                <td class="tele-cost">
                0,0063
                </td>
                <td class="tele-cost">
                0,005
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Таджикистан, Туркменистан, Казахстан, Кыргызстан, Узбекистан
                </td>
                <td class="tele-cost">
                0,0067
                </td>
                <td class="tele-cost">
                0,0053
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Сети операторов мобильной связи стран СНГ
                </td>
                <td class="tele-cost">
                0,0067
                </td>
                <td class="tele-cost">
                0,0053
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Восточная Европа
                </td>
                <td class="tele-cost">
                0,0072
                </td>
                <td class="tele-cost">
                0,0058
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Центральная и Северная Европа
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Западная Европа
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Центральная Азия и Ближний Восток
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Северная Америка
                </td>
                <td class="tele-cost">
                0,0050
                </td>
                <td class="tele-cost">
                0,0040
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Восточная Азия
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Африка, Южная и Центральная Америка
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Австралия, Океания
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Другие страны
                </td>
                <td class="tele-cost">
                0,0250
                </td>
                <td class="tele-cost">
                0,0208
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Сети операторов мобильной связи зарубежных стран, кроме стран Восточной Европы
                </td>
                <td class="tele-cost">
                0,0108
                </td>
                <td class="tele-cost">
                0,0092
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Сети операторов мобильной связи стран Восточной Европы
                </td>
                <td class="tele-cost">
                0,0092
                </td>
                <td class="tele-cost">
                0,0075
                </td>
            </tr>
            <tr class="tele-header-dark">
                <td colspan="3" style="text-align: left">
                    <span class="manual-inverse">*С 01.09.2010г. временно действуют на услуги международной связи с Россией:</span>
                </td>
            </tr>
            <tr class="tele-header-light">
                <td>
                <span class="manual-inverse">Тарифная зона</span>
                </td>
                <td colspan="2">
                <span class="manual-inverse">Расчетная ставка</span>
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                г. Москва
                </td>
                <td colspan="2" class="tele-cost">
                0,0125 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                г. Санкт-Петербург
                </td>
                <td colspan="2" class="tele-cost">
                0,0125 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Другие населенные пункты России
                </td>
                <td colspan="2" class="tele-cost">
                0,02778 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                с абонентами движимой (мобильной) связи России
                </td>
                <td colspan="2" class="tele-cost">
                0,03472 грн.
                </td>
            </tr>
        </tbody>
    </table>
    <ol style="text-align: left;">
        <li>
        Цены на услуги связи <span class="manual-inverse">без учета НДС</span>.
        </li>
        <li>
        Абонентская плата за один номер, что оплачивается Абонентом ежемесячно, независимо от созданного трафика,
        составляет 37 грн. 79 коп. (для бюджетный учреждения и населения - 26 грн. 24 коп.)
        </li>
        <li>
        Цена одной дополнительной сервисной услуги електронной АТС составляет <span class="manual-inverse">1 (одна) гривна 00 копеек</span>.
        </li>
        <li>
        Услуга "тональный набор номера" предоставляется <span class="manual-inverse">бесплатно</span>.
        </li>
        <li>
        За предоставление услуг доступа к медугородной и международной в кредит, снимается плата в размере 2% от
        стоимости разговора. Процент на кредит не снимается на сумму аванса.
        </li>
        <li>
        Предоставление детализации междугородных и международных звонков - бесплатно на носители Абонента (флеш-карта)
        или по електронной почте.
        </li>
    </ol>
    </div>
</div>

<div class="anchor_price">
    <table style="width: 100%;">
        <tbody>
        <tr>
            <td style="text-align: left; width: 33%;"><a class="link" style="margin-right: 7px; margin-left: 0px;" href="../../cherkassy/pricesiptv">Цены для многоэтажных домов </a></td>
            <td style="text-align: center;"><a class="link" style="margin-right: 7px;" href="../../cherkassy/channels">Телеканалы</a></td>
            <td style="text-align: right; width: 33%;"><a class="link link_activ" style="margin-right: 0px;" href="../../cherkassy/iptv_manual">Инструкция</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="shadow_link">&nbsp;</div>
<p>&nbsp;</p>
<div id="block_iptv" style="position: relative; text-align: center;">
    <p>IP-TV, IP-телевидение &mdash; технология цифрового телевидения в интернет-сетях.Пользователям данного ресурса предоставляется возможность просмотра телеканалов с помощью вышеуказанной технологии. Для этого необходимо скачать и установить IPTV-плеер.</p>
    <ul style="margin: 40px 0;">
        <li class="inline-block" style="margin: 0 10px;"><a class="btn_widget login" type="button" href="#lalala">СКАЧАТЬ ПЛЕЕР</a></li>
        <li class="inline-block" style="margin: 0 10px;"><a class="link-dotted" title="Перейти к установке" href="#setup">Установка</a></li>
        <li class="inline-block" style="margin: 0 10px;"><a class="link-dotted" title="Перейти к настройке" href="#settings">Настройка</a></li>
    </ul>
    <p><span class="manual_title"><a name="setup"></a>УСТАНОВКА</span> Запустите скачанный ранее установщик IpTvPlayer.exe. Появится следующее окно (Рис. 1). Для изменения параметров отметьте поле <span class="manual-inverse">"Выбрать параметры и папку установки"</span>. После указания необходимых параметров необходимо нажать кнопку <span class="manual-inverse">"Установить"</span>, после этого начнется процесс инсталяции</p>
    <p><img src="../../uploads/iptv_manual/7.png" alt="Начало установки" /></p>
    <p>Рис. 1. Начальное окно установщика.</p>
    <p>По завершении установки появится окно (Рис. 2). В данном окне предлагается установить дополнительные программы, если перечисленные программы вам не нужны - снимите отметки напротив программ и нажмите <span class="manual-inverse">"Готово"</span>. IPTV плеер установлен и готов к использованию</p>
    <p><img src="../../uploads/iptv_manual/8.png" alt="Завершение установки" /></p>
    <p>Рис. 2. Окно завершения установки.</p>
    <p><span class="manual_title"><a name="setup"></a>НАСТРОЙКА</span> Для запуска плеера дважды кликните по ярлыку плеера на рабочем столе (Рис. 3). При первом запуске плеера появится окно с выбором провайдера. В котором необходимо выбрать McLaut ISP (Рис. 4)</p>
    <p><img src="../../uploads/iptv_manual/3.png" alt="Ярлык плеера" /></p>
    <p style="position: relative; width: 200px; display: inline-block; right: 170px;">Рис. 3. Вид ярлыка плеера на рабочем столе</p>
    <p style="display: inline-block;">Рис. 4. Выбор провайдера</p>
    <p>После выбора провайдера запустится плеер. Если у Вас стоит роутер, дальнейшие настройки плеера делать не нужно, необходимо правильно настроить Ваш роутер. Если Вы не знаете как это сделать, обратитесь в службу тех. поддержки Вашего провайдера, или задайте вопрос на форуме. Если же у Вас PPPoE подключение - необходимо кликнуть по кнопке настроек (Рис. 5).</p>
    <p><img src="../../uploads/iptv_manual/5.png" alt="Окно плеера" /></p>
    <p>Рис. 5. Окно плеера</p>
    <p>Откроется окно базовых настроек плеера. В поле <span class="manual-inverse">"Сетевой интерфейс"</span> необходимо указать внутренний IP-адрес вида 10.x.x.x. (выбрать из выпадающего списка) (Рис. 6)</p>
    <p><img src="../../uploads/iptv_manual/6.png" alt="Окно настроек" /></p>
    <p>Рис. 6. Окно настроек</p>
    <p>После указания адреса необходимо закрыть окно настроек. Плеер готов к использованию. (Рис. 7)</p>
    <p><img src="../../uploads/iptv_manual/6.png" alt="Вид плеера" /></p>
    <p>Рис. 7. Внешний вид плеера.</p>
    <p>Благодарим за выбор нашего плеера. Приятного просмотра.</p>
</div>








<div class="channels_border">
<table class="t_channels">
<tbody>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/1+1_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">1+1</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости, Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/112_ukraina_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">112 Украина</td>
    <td style="width: 350px;">
        <p><span class="channel-country">112 Украина</span></p>
        <p class="channel-genre">Новости, Эфирные</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/2+2_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">2+2</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/24_doc_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">24 Док</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/24_kanal_novostey_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">24 Телеканал новостей</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/24_tehno_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">24 техно</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/365_dney_tv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">365 Дней ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/5_kanal_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">5 канал</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости, Эфирные</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/A_one_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">A-ONE</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Музыка, Разное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/animal_planet_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Animal Planet</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/bbc_world_news_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">BBC World News</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Великобритания</span></strong></p>
        <p class="channel-genre">Новости</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/discovery_science_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Discovery Science</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/discovery_world_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Discovery World</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/discovery_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Discovery Украина</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/enter_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Enter-фильм</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/extreme_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Extreme sports</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Спорт</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/france_24_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">France 24</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Франция</span></strong></p>
        <p class="channel-genre">Новости</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/gulli_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Gulli</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Франция</span></strong></p>
        <p class="channel-genre">Детям</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/ictv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">ICTV</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/discovery_investigation_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Investigation Discivery</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/m1_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">M1</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Музыка, Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/m2.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">M2</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Музыка, Эфирные</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/maxxi_tv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Maxxi-TV</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Разное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/mcm_top_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">MCM TOP</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Франция</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/mezzo_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Mezzo</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Франция</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/mtv_dance_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">MTV Dance</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/mtv_hits_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">MTV Hits</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/mtv_rocks_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">MTV Rocks</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/music_box_ua_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Music Box Ua</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/nat_geo_wild_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Nat Geo Wild</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/national_geographic_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">National Geographic</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/news_one_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">NewsOne</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/nickelodeon_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Nickelodeon</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Детям</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/nick_jr_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Nickjunior</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Детям</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/o_tv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">OTV music</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/qtv_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">QTV</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Разное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/rtvi_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">RTVI</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Разное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/ru_music_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Ru.Music</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/tiji_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">TiJi</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Франция</span></strong></p>
        <p class="channel-genre">Детям</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/TLC_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">TLC</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/travel_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Travel channel</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/vh1_classic_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">VH1 Classic</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/vh1_europe_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">VH1 Europe</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">США</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/world_fashion_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">World Fashion</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Италия</span></strong></p>
        <p class="channel-genre">Разное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/xsport_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Xsport</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Спорт</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/zoom_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">ZOOM</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/avto_plus_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Авто Плюс</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/business_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Бізнес</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/btb_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Банківське телебачення</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости, Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/boec_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Боец ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости, Спорт</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/bulvar_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Бульвар ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Разное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/vikka_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">ВИККА Черкассы</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/voprosu_i_otvetu_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Вопросы и ответы</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/gamma_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Гамма</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Разное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/gromadske_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Громадське ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/gumor_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Гумор ТБ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Юмор</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/detskiy_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Детский</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Детям</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/detskiy_mir_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Детский Мир/Телеклуб</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Детям</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/bobro_tv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Добро ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/domashie_jivotnue_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Домашние животные</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/draiv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Драйв</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/europa_plus_tv_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Европа Плюс</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/eco_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">ЕКО-ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/espresso_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Еспресо ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/zagorodnaia_jizn_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Загородная жизнь</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/zdorovoe_tv_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Здоровое ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/zoopark_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Зоопарк</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Детям, Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/indiaia_tv_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Индия ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/inter_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">ИНТЕР</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/interesnoe_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Интересное ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/k1_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">К1</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Разное, Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/k2_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">К2</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Разное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/kinoplus_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Кино Плюс</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/kinoklub_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Киноклуб</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/kino_tochks_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Киноточка</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино, Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/kinohit_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Кинохит</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/komedia_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Комедия ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/kto_est_kto_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Кто есть кто</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/kyhnia_tv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Кухня ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/la_minor_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Ля Минор</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/maliatko_tv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Малятко TV</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Детям</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/mat_i_ditia_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Мать и дитя</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Детям, Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/mega_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Мега</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Познавательное, Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/menu_tv_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Меню-ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/mnogo_tv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Многосерийное ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/moia_dutuna_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Моя дитина</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Детям, Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/mujskoy_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Мужской</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное, Разное, Спорт</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/multimania_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Мультимания</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Детям, Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/nashe_kino_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Наше кино</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/novoe_kino_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Наше новое кино</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/nlo_tv_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">НЛО.TV</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные, Юмор</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/novuy_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Новий канал</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/ntn_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">НТН</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/orujie_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Оружие</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/ohota_i_rubalka_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Охота и рыбалка</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/pixel_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Пiксель</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Детям</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/park_razvlecheniy_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Парк развлечений</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Юмор</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/perviu_delovoy_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Первый деловой</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/pershiy_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Перший національний</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/plus_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Плюсплюс</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Детям, Разное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/premiera_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Премьера</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/psihologia_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Психология 21</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/pada_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">РАДА</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/ren_tv_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">РЕН ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Кино</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/sov_sec_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Совершенно секретно</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/sport_1_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Спорт 1</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Спорт</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/sport_2_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Спорт 2</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Спорт</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/stb_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">СТБ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/tv_centr_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">ТВ Центр-International</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Разное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/tvi_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">ТВi</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/TET_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">ТЕТ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Разное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/tonis_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Тоніс</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Эфирные</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/ukraina_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">ТРК Украина</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости, Эфирные</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/ubr_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">УБР</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Новости</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/usadba_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Усадьба</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Познавательное</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/futbol_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Футбол1</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Спорт</p>
    </td>
</tr>
<tr>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/futball+_55.png" alt="img_1_55" width="55" height="55" /></td>
    <td style="width: 250px;">Футбол2</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Украина</span></strong></p>
        <p class="channel-genre">Спорт</p>
    </td>
    <td style="width: 80px; text-align: center;"><img src="../../uploads/iptv/tv_shanson_55.png" alt="img_4_55" width="55" height="55" /></td>
    <td style="width: 250px;">Шансон ТВ</td>
    <td style="width: 350px;">
        <p><strong><span class="channel-country">Россия</span></strong></p>
        <p class="channel-genre">Музыка</p>
    </td>
</tr>
</tbody>
</table>
</div>
<p>&nbsp;</p>




<div style="margin: 15px 0 30px 0; font-size: 14px; color: #c2bee3;">Оплата услуг <strong>McLaut ISP</strong>, вы можете произвести через терминалы самообслуживания, расположеным по адресам:</div>
<table class="payment" style="border-collapse: separate; height: 357px; width: 427px;" align="left">
<thead>
<tr><th style="width: 40px; text-align: center;">№</th><th style="width: 170px; text-align: left;">Улица</th><th style="width: 80px; text-align: center;">Дом</th><th style="text-align: left;">Расположение</th></tr>
</thead>
<tbody>
<tr>
    <td style="text-align: center;">1.</td>
    <td style="text-align: left;">ул. Чехова</td>
    <td style="text-align: center;">9а</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">2.</td>
    <td style="text-align: left;">ул. Десантников</td>
    <td style="text-align: center;">1</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">3.</td>
    <td style="text-align: left;">ул. Гагарина</td>
    <td style="text-align: center;">35</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">4.</td>
    <td style="text-align: left;">ул. Энгельса</td>
    <td style="text-align: center;">122/41</td>
    <td style="text-align: left;"><strong>Черкащанка</strong></td>
</tr>
<tr>
    <td style="text-align: center;">5.</td>
    <td style="text-align: left;">ул. Горького</td>
    <td style="text-align: center;">64</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">6.</td>
    <td style="text-align: left;">ул. Луначарского</td>
    <td style="text-align: center;">17</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">7.</td>
    <td style="text-align: left;">ул. Менделеева</td>
    <td style="text-align: center;">5</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">8.</td>
    <td style="text-align: left;">ул. Одесская</td>
    <td style="text-align: center;">20</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">9.</td>
    <td style="text-align: left;">ул.Орджоникидзе</td>
    <td style="text-align: center;">92</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">10.</td>
    <td style="text-align: left;">ул. Победы</td>
    <td style="text-align: center;">40</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">11.</td>
    <td style="text-align: left;">ул. Петровского</td>
    <td style="text-align: center;">175</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">12.</td>
    <td style="text-align: left;">ул. Рустави</td>
    <td style="text-align: center;">13</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">13.</td>
    <td style="text-align: left;">ул. Рябоконя</td>
    <td style="text-align: center;">25</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">14.</td>
    <td style="text-align: left;">ул.Толстого</td>
    <td style="text-align: center;">20</td>
    <td style="text-align: left;"><strong>Риздвяный</strong></td>
</tr>
<tr>
    <td style="text-align: center;">15.</td>
    <td style="text-align: left;">ул. Ватутина</td>
    <td style="text-align: center;">231</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">16.</td>
    <td style="text-align: left;">ул. Вербовецкого</td>
    <td style="text-align: center;">9</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">17.</td>
    <td style="text-align: left;">ул. Вернигоры</td>
    <td style="text-align: center;">2</td>
    <td style="text-align: left;"><strong>Абсолют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">18.</td>
    <td style="text-align: left;">ул. Добровольского</td>
    <td style="text-align: center;">15</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">19.</td>
    <td style="text-align: left;">пр-кт Химиков</td>
    <td style="text-align: center;">39/4</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">20.</td>
    <td style="text-align: left;">ул. Луначарского</td>
    <td style="text-align: center;">1</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">21.</td>
    <td style="text-align: left;">ул. Пастеровская</td>
    <td style="text-align: center;">106</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">22.</td>
    <td style="text-align: left;">ул. Победы</td>
    <td style="text-align: center;">6</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">23.</td>
    <td style="text-align: left;">ул.Шевченко</td>
    <td style="text-align: center;">239</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">24.</td>
    <td style="text-align: left;">ул.Шевченко</td>
    <td style="text-align: center;">305</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">25.</td>
    <td style="text-align: left;">ул. Смелянская</td>
    <td style="text-align: center;">97</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">26.</td>
    <td style="text-align: left;">ул. Сумгаитская</td>
    <td style="text-align: center;">33</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">27.</td>
    <td style="text-align: left;">ул. Тараскова</td>
    <td style="text-align: center;">18</td>
    <td style="text-align: left;"><strong>АТБ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">28.</td>
    <td style="text-align: left;">спуск. Б.Хмельницкого</td>
    <td style="text-align: center;"></td>
    <td style="text-align: left;"><strong></strong></td>
</tr>
<tr>
    <td style="text-align: center;">29.</td>
    <td style="text-align: left;">ул. Б.Хмельницкого</td>
    <td style="text-align: center;">1</td>
    <td style="text-align: left;"><strong>У Богдана</strong></td>
</tr>
<tr>
    <td style="text-align: center;">30.</td>
    <td style="text-align: left;">ул. Р.Люксембург</td>
    <td style="text-align: center;">210</td>
    <td style="text-align: left;"><strong>3-я больница</strong></td>
</tr>
<tr>
    <td style="text-align: center;">31.</td>
    <td style="text-align: left;">ул. Университетская</td>
    <td style="text-align: center;">33</td>
    <td style="text-align: left;"><strong>БТИ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">32.</td>
    <td style="text-align: left;">ул. Горького</td>
    <td style="text-align: center;">11</td>
    <td style="text-align: left;"><strong>Буревесник</strong></td>
</tr>
<tr>
    <td style="text-align: center;">33.</td>
    <td style="text-align: left;">бул. Шевченко</td>
    <td style="text-align: center;">460</td>
    <td style="text-align: left;"><strong>ЧИТИ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">34.</td>
    <td style="text-align: left;">ул. Каневская</td>
    <td style="text-align: center;">5</td>
    <td style="text-align: left;"><strong>Мини-маркет</strong></td>
</tr>
<tr>
    <td style="text-align: center;">35.</td>
    <td style="text-align: left;">ул. Г.Днепра</td>
    <td style="text-align: center;">83</td>
    <td style="text-align: left;"><strong>Деликат</strong></td>
</tr>
<tr>
    <td style="text-align: center;">36.</td>
    <td style="text-align: left;">ул. Громова</td>
    <td style="text-align: center;">34</td>
    <td style="text-align: left;"><strong>Деликат</strong></td>
</tr>
<tr>
    <td style="text-align: center;">37.</td>
    <td style="text-align: left;">ул. Шевченко</td>
    <td style="text-align: center;">120/1</td>
    <td style="text-align: left;"><strong>Деликат</strong></td>
</tr>
<tr>
    <td style="text-align: center;">38.</td>
    <td style="text-align: left;">ул. Г.Сталинграда</td>
    <td style="text-align: center;">34</td>
    <td style="text-align: left;"><strong>ДнепроПлаза</strong></td>
</tr>
<tr>
    <td style="text-align: center;">39.</td>
    <td style="text-align: left;">ул. Г.Сталинграда</td>
    <td style="text-align: center;">34</td>
    <td style="text-align: left;"><strong>ДнепроПлаза</strong></td>
</tr>
<tr>
    <td style="text-align: center;">40.</td>
    <td style="text-align: left;">бул. Шевченко</td>
    <td style="text-align: center;">207</td>
    <td style="text-align: left;"><strong>Дом Торговли</strong></td>
</tr>
<tr>
    <td style="text-align: center;">41.</td>
    <td style="text-align: left;">бул. Шевченко</td>
    <td style="text-align: center;">207</td>
    <td style="text-align: left;"><strong>Дом Торговли Сильпо</strong></td>
</tr>
<tr>
    <td style="text-align: center;">42.</td>
    <td style="text-align: left;">бул. Шевченко</td>
    <td style="text-align: center;">207</td>
    <td style="text-align: left;"><strong>Дом Торговли, Домашний Кухар</strong></td>
</tr>
<tr>
    <td style="text-align: center;">43.</td>
    <td style="text-align: left;">бул. Шевченко</td>
    <td style="text-align: center;">207</td>
    <td style="text-align: left;"><strong>Сильпо</strong></td>
</tr>
<tr>
    <td style="text-align: center;">44.</td>
    <td style="text-align: left;">бул. Шевченко</td>
    <td style="text-align: center;">207</td>
    <td style="text-align: left;"><strong>Улица</strong></td>
</tr>
<tr>
    <td style="text-align: center;">45.</td>
    <td style="text-align: left;">ул. Гоголя</td>
    <td style="text-align: center;">520</td>
    <td style="text-align: left;"><strong>Дунай</strong></td>
</tr>
<tr>
    <td style="text-align: center;">46.</td>
    <td style="text-align: left;">ул. Шевченко</td>
    <td style="text-align: center;">245/1</td>
    <td style="text-align: left;"><strong>Їжачок</strong></td>
</tr>
</tbody>
</table>
<table class="payment" style="border-collapse: separate;" align="left">
<thead>
<tr><th style="width: 40px; text-align: center;">№</th><th style="width: 170px; text-align: left;">Улица</th><th style="width: 80px; text-align: center;">Дом</th><th style="text-align: left;">Расположение</th></tr>
</thead>
<tbody>
<tr>
    <td style="text-align: center;">47.</td>
    <td style="text-align: left;">ул. Ватутина</td>
    <td style="text-align: center;">237</td>
    <td style="text-align: left;"><strong>Экономия</strong></td>
</tr>
<tr>
    <td style="text-align: center;">48.</td>
    <td style="text-align: left;">ул. Благовестная</td>
    <td style="text-align: center;">455</td>
    <td style="text-align: left;"><strong>Электрон</strong></td>
</tr>
<tr>
    <td style="text-align: center;">49.</td>
    <td style="text-align: left;">ул. Чайковского</td>
    <td style="text-align: center;">63</td>
    <td style="text-align: left;"><strong>FRESH</strong></td>
</tr>
<tr>
    <td style="text-align: center;">50.</td>
    <td style="text-align: left;">ул. Чехова</td>
    <td style="text-align: center;">110</td>
    <td style="text-align: left;"><strong>FRESH</strong></td>
</tr>
<tr>
    <td style="text-align: center;">51.</td>
    <td style="text-align: left;">ул. Энгельса</td>
    <td style="text-align: center;">142а</td>
    <td style="text-align: left;"><strong>FRESH</strong></td>
</tr>
<tr>
    <td style="text-align: center;">52.</td>
    <td style="text-align: left;">ул. Гоголя</td>
    <td style="text-align: center;">462</td>
    <td style="text-align: left;"><strong>FRESH</strong></td>
</tr>
<tr>
    <td style="text-align: center;">53.</td>
    <td style="text-align: left;">ул. Победы</td>
    <td style="text-align: center;">36</td>
    <td style="text-align: left;"><strong>FRESH</strong></td>
</tr>
<tr>
    <td style="text-align: center;">54.</td>
    <td style="text-align: left;">бул. Шевченко</td>
    <td style="text-align: center;">287</td>
    <td style="text-align: left;"><strong>FRESH</strong></td>
</tr>
<tr>
    <td style="text-align: center;">55.</td>
    <td style="text-align: left;">ул. Чигиринская</td>
    <td style="text-align: center;">40</td>
    <td style="text-align: left;"><strong>ФРУТ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">56.</td>
    <td style="text-align: left;">ул. Р.Люксембург</td>
    <td style="text-align: center;">202</td>
    <td style="text-align: left;"><strong>Гулливер</strong></td>
</tr>
<tr>
    <td style="text-align: center;">57.</td>
    <td style="text-align: left;">ул. Энгельса</td>
    <td style="text-align: center;">52/1</td>
    <td style="text-align: left;"><strong>Гурман</strong></td>
</tr>
<tr>
    <td style="text-align: center;">58.</td>
    <td style="text-align: left;">ул. Громова</td>
    <td style="text-align: center;">5</td>
    <td style="text-align: left;"><strong>Гурман</strong></td>
</tr>
<tr>
    <td style="text-align: center;">59.</td>
    <td style="text-align: left;">ул. Хоменко</td>
    <td style="text-align: center;">18</td>
    <td style="text-align: left;"><strong>Карпаты</strong></td>
</tr>
<tr>
    <td style="text-align: center;">60.</td>
    <td style="text-align: left;">ул. Шевченко</td>
    <td style="text-align: center;">131</td>
    <td style="text-align: left;"><strong>м-н Казбет</strong></td>
</tr>
<tr>
    <td style="text-align: center;">61.</td>
    <td style="text-align: left;">ул.Котовского</td>
    <td style="text-align: center;">97</td>
    <td style="text-align: left;"><strong>Кишенька</strong></td>
</tr>
<tr>
    <td style="text-align: center;">62.</td>
    <td style="text-align: left;">ул. Гагарина</td>
    <td style="text-align: center;">98</td>
    <td style="text-align: left;"><strong>Велика Кишеня</strong></td>
</tr>
<tr>
    <td style="text-align: center;">63.</td>
    <td style="text-align: left;">ул. Г.Сталинграда</td>
    <td style="text-align: center;">34</td>
    <td style="text-align: left;"><strong>Велика Кишеня</strong></td>
</tr>
<tr>
    <td style="text-align: center;">64.</td>
    <td style="text-align: left;">ул. Г.Сталинграда</td>
    <td style="text-align: center;">42/1</td>
    <td style="text-align: left;"><strong>Велика Кишеня</strong></td>
</tr>
<tr>
    <td style="text-align: center;">65.</td>
    <td style="text-align: left;">ул. Дашкевича</td>
    <td style="text-align: center;">19</td>
    <td style="text-align: left;"><strong>Крещатик Сити</strong></td>
</tr>
<tr>
    <td style="text-align: center;">66.</td>
    <td style="text-align: left;">ул. Благовестная</td>
    <td style="text-align: center;">171</td>
    <td style="text-align: left;"><strong>Квитень</strong></td>
</tr>
<tr>
    <td style="text-align: center;">67.</td>
    <td style="text-align: left;">ул. Энгельса</td>
    <td style="text-align: center;">114</td>
    <td style="text-align: left;"><strong>КВАРТАЛ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">68.</td>
    <td style="text-align: left;">ул. Г.Днепра</td>
    <td style="text-align: center;">23</td>
    <td style="text-align: left;"><strong>Квартал</strong></td>
</tr>
<tr>
    <td style="text-align: center;">69.</td>
    <td style="text-align: left;">ул. Королева</td>
    <td style="text-align: center;">12</td>
    <td style="text-align: left;"><strong>КВАРТАЛ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">70.</td>
    <td style="text-align: left;">ул. Победы</td>
    <td style="text-align: center;">22/1</td>
    <td style="text-align: left;"><strong>КВАРТАЛ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">71.</td>
    <td style="text-align: left;">ул. Победы</td>
    <td style="text-align: center;">4</td>
    <td style="text-align: left;"><strong>КВАРТАЛ</strong></td>
</tr>
<tr>
    <td style="text-align: center;">72.</td>
    <td style="text-align: left;">ул.Орджоникидзе</td>
    <td style="text-align: center;">2</td>
    <td style="text-align: left;"><strong>Маяк</strong></td>
</tr>
<tr>
    <td style="text-align: center;">73.</td>
    <td style="text-align: left;">ул. Г.Днепра</td>
    <td style="text-align: center;">69</td>
    <td style="text-align: left;"><strong>м-н Молли</strong></td>
</tr>
<tr>
    <td style="text-align: center;">74.</td>
    <td style="text-align: left;">ул. Пилипенко</td>
    <td style="text-align: center;">1</td>
    <td style="text-align: left;"><strong>Молли</strong></td>
</tr>
<tr>
    <td style="text-align: center;">75.</td>
    <td style="text-align: left;">ул.Шевченко</td>
    <td style="text-align: center;">320</td>
    <td style="text-align: left;"><strong>Molli</strong></td>
</tr>
<tr>
    <td style="text-align: center;">76.</td>
    <td style="text-align: left;">ул. Вернигоры</td>
    <td style="text-align: center;">20/1</td>
    <td style="text-align: left;"><strong>Molli</strong></td>
</tr>
<tr>
    <td style="text-align: center;">77.</td>
    <td style="text-align: left;">ул. Крещатик</td>
    <td style="text-align: center;">235</td>
    <td style="text-align: left;"><strong>Налоговая</strong></td>
</tr>
<tr>
    <td style="text-align: center;">78.</td>
    <td style="text-align: left;">ул. Невского</td>
    <td style="text-align: center;">15</td>
    <td style="text-align: left;"><strong>Невский</strong></td>
</tr>
<tr>
    <td style="text-align: center;">79.</td>
    <td style="text-align: left;">ул. Ильина</td>
    <td style="text-align: center;">342</td>
    <td style="text-align: left;"><strong>PREMIER</strong></td>
</tr>
<tr>
    <td style="text-align: center;">80.</td>
    <td style="text-align: left;">ул. Ильина</td>
    <td style="text-align: center;">474</td>
    <td style="text-align: left;"><strong>Премьер</strong></td>
</tr>
<tr>
    <td style="text-align: center;">81.</td>
    <td style="text-align: left;">ул. Луначарского</td>
    <td style="text-align: center;">1</td>
    <td style="text-align: left;"><strong>Премьер</strong></td>
</tr>
<tr>
    <td style="text-align: center;">82.</td>
    <td style="text-align: left;">ул. Гоголя</td>
    <td style="text-align: center;">269</td>
    <td style="text-align: left;"><strong>Садочек</strong></td>
</tr>
<tr>
    <td style="text-align: center;">83.</td>
    <td style="text-align: left;">ул. Смелянская</td>
    <td style="text-align: center;">41</td>
    <td style="text-align: left;"><strong>Салют</strong></td>
</tr>
<tr>
    <td style="text-align: center;">84.</td>
    <td style="text-align: left;">ул. Шевченко</td>
    <td style="text-align: center;">208</td>
    <td style="text-align: left;"><strong>Сильпо</strong></td>
</tr>
<tr>
    <td style="text-align: center;">85.</td>
    <td style="text-align: left;">ул. Шевченко</td>
    <td style="text-align: center;">208</td>
    <td style="text-align: left;"><strong>Сильпо</strong></td>
</tr>
<tr>
    <td style="text-align: center;">86.</td>
    <td style="text-align: left;">ул. Шевченко</td>
    <td style="text-align: center;">208</td>
    <td style="text-align: left;"><strong>Вход</strong></td>
</tr>
<tr>
    <td style="text-align: center;">87.</td>
    <td style="text-align: left;">ул. Шевченко</td>
    <td style="text-align: center;">208</td>
    <td style="text-align: left;"><strong>Вход</strong></td>
</tr>
<tr>
    <td style="text-align: center;">88.</td>
    <td style="text-align: left;">ул. Шевченко</td>
    <td style="text-align: center;">208</td>
    <td style="text-align: left;"><strong>Вход</strong></td>
</tr>
<tr>
    <td style="text-align: center;">89.</td>
    <td style="text-align: left;">ул. Шевченко</td>
    <td style="text-align: center;">208</td>
    <td style="text-align: left;"><strong>Вход</strong></td>
</tr>
<tr>
    <td style="text-align: center;">90.</td>
    <td style="text-align: left;">ул. Чиковани</td>
    <td style="text-align: center;">23</td>
    <td style="text-align: left;"><strong>SPAR</strong></td>
</tr>
<tr>
    <td style="text-align: center;">91.</td>
    <td style="text-align: left;">ул. 30 лет Победы</td>
    <td style="text-align: center;">22/1</td>
    <td style="text-align: left;"><strong>SPAR</strong></td>
</tr>
<tr>
    <td style="text-align: center;">92.</td>
    <td style="text-align: left;">ул. Сумгаитская</td>
    <td style="text-align: center;">24</td>
    <td style="text-align: left;"><strong>м-н Юго-Запад</strong></td>
</tr>
<tr>
    <td style="text-align: center;">93.</td>
    <td style="text-align: left;">бул. Шевченко</td>
    <td style="text-align: center;">345</td>
    <td style="text-align: left;"><strong>Вечірній</strong></td>
</tr>
</tbody>
</table>

