<div id="tele-price" class="block_scroll" style="text-align: center;">
    <div class="block_scroll_container" style="overflow: hidden;">
    <div class="title_main">Тарифы на услуги связи для абонентов ООО "Укрком"</div>
    <table>
        <tbody>
            <tr class="tele-header-dark">
                <td colspan="3">
                    <span class="manual-inverse">Цена одной секунды исходящих разговоров</span>
                </td>
            </tr>
            <tr class="tele-header-light">
                <td style="width: 50%;">
                    <span class="manual-inverse">Тарифная зона</span>
                </td>
                <td colspan="2">
                    <span class="manual-inverse">Расчетная ставка</span>
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Черкассы (более 36000 секунд)
                </td>
                <td colspan="2" class="tele-cost">
                0,00075 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Доступ к сети операторов мобильной связи через национальные коды (NDC)
                </td>
                <td colspan="2" class="tele-cost">
                0,0167 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Украина
                </td>
                <td colspan="2" class="tele-cost">
                0,0084 грн.
                </td>
            </tr>
            <tr class="tele-header-light">
                <td rowspan="2">
                <span class="manual-inverse">Тарифная зона</span>
                </td>
                <td colspan="2">
                <span class="manual-inverse">Расчетная ставка в долларах США</span>
                </td>
            </tr>
            <tr class="tele-header-light">
                <td class="center-td">
                <span class="manual-inverse">С 8:00 до 18:00 ежедневно</span> (кроме субботы, воскресенья и праздничных дней)
                </td>
                <td>
                <span class="manual-inverse">С 18:00 до 8:00 ежедневно, суббота, воскресенье и праздничные дни круглосуточно</span>
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Россия, Белорусь, Молдова
                </td>
                <td class="tele-cost">
                0,0047
                </td>
                <td class="tele-cost">
                0,0037
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Азейбарджан, Армения, Грузия
                </td>
                <td class="tele-cost">
                0,0063
                </td>
                <td class="tele-cost">
                0,005
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Таджикистан, Туркменистан, Казахстан, Кыргызстан, Узбекистан
                </td>
                <td class="tele-cost">
                0,0067
                </td>
                <td class="tele-cost">
                0,0053
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Сети операторов мобильной связи стран СНГ
                </td>
                <td class="tele-cost">
                0,0067
                </td>
                <td class="tele-cost">
                0,0053
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Восточная Европа
                </td>
                <td class="tele-cost">
                0,0072
                </td>
                <td class="tele-cost">
                0,0058
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Центральная и Северная Европа
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Западная Европа
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Центральная Азия и Ближний Восток
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Северная Америка
                </td>
                <td class="tele-cost">
                0,0050
                </td>
                <td class="tele-cost">
                0,0040
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Восточная Азия
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Африка, Южная и Центральная Америка
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Австралия, Океания
                </td>
                <td class="tele-cost">
                0,0083
                </td>
                <td class="tele-cost">
                0,0067
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Другие страны
                </td>
                <td class="tele-cost">
                0,0250
                </td>
                <td class="tele-cost">
                0,0208
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Сети операторов мобильной связи зарубежных стран, кроме стран Восточной Европы
                </td>
                <td class="tele-cost">
                0,0108
                </td>
                <td class="tele-cost">
                0,0092
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Сети операторов мобильной связи стран Восточной Европы
                </td>
                <td class="tele-cost">
                0,0092
                </td>
                <td class="tele-cost">
                0,0075
                </td>
            </tr>
            <tr class="tele-header-dark">
                <td colspan="3" style="text-align: left">
                    <span class="manual-inverse">*С 01.09.2010г. временно действуют на услуги международной связи с Россией:</span>
                </td>
            </tr>
            <tr class="tele-header-light">
                <td>
                <span class="manual-inverse">Тарифная зона</span>
                </td>
                <td colspan="2">
                <span class="manual-inverse">Расчетная ставка</span>
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                г. Москва
                </td>
                <td colspan="2" class="tele-cost">
                0,0125 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                г. Санкт-Петербург
                </td>
                <td colspan="2" class="tele-cost">
                0,0125 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                Другие населенные пункты России
                </td>
                <td colspan="2" class="tele-cost">
                0,02778 грн.
                </td>
            </tr>
            <tr>
                <td style="text-align: left">
                с абонентами движимой (мобильной) связи России
                </td>
                <td colspan="2" class="tele-cost">
                0,03472 грн.
                </td>
            </tr>
        </tbody>
    </table>
    <ol style="text-align: left;">
        <li>
        Цены на услуги связи <span class="manual-inverse">без учета НДС</span>.
        </li>
        <li>
        Абонентская плата за один номер, что оплачивается Абонентом ежемесячно, независимо от созданного трафика,
        составляет 37 грн. 79 коп. (для бюджетный учреждения и населения - 26 грн. 24 коп.)
        </li>
        <li>
        Цена одной дополнительной сервисной услуги електронной АТС составляет <span class="manual-inverse">1 (одна) гривна 00 копеек</span>.
        </li>
        <li>
        Услуга "тональный набор номера" предоставляется <span class="manual-inverse">бесплатно</span>.
        </li>
        <li>
        За предоставление услуг доступа к медугородной и международной в кредит, снимается плата в размере 2% от
        стоимости разговора. Процент на кредит не снимается на сумму аванса.
        </li>
        <li>
        Предоставление детализации междугородных и международных звонков - бесплатно на носители Абонента (флеш-карта)
        или по електронной почте.
        </li>
    </ol>
    </div>
</div>